* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.header {
  text-align: center;
  margin-top: 100px;
  font-size: 75px;
}

#searchContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#searchTerm {
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid blueviolet;
  width: 200px;
}

#submitButton {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid blueviolet;
}

.hidden {
  display: none;
}

#resultsContainer {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#resultsContainerInfo {
  float: left;
  margin-left: 150px;
}

#resultsContainerVideo {
  float: right;
}